{% extends 'base_malabyu.html' %}

{% set page_head_title = 'products' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('products.static', filename='css/products.css') }}"/>
{% endblock %}



{% block page_body_header_add_item %}

{% endblock %}



{% block page_body_main_content %}
    <div class="flash">
  {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
    </div>
    <h1 class="title">מוצרי החנות</h1>

    <div class="product">

        <div class="header">
        </div>
        <div class="product2">
            <img class="img" src="{{ url_for('products.static', filename='media/vradim.jpg') }}" alt="rose">
            <button class="rose_btn" name="product2" onclick="rose_options();">מי ורדים</button>
            <div class="rose_options" ; id="rose_options">
                <form action="/vradim" method="get" id="rose_product">
                    <h4 class="product_details">מחיר: 25 ש"ח ליחידה</h4>
                    <h4 class="product_details"> כמות:</h4>
                      <div>
                        <input class="quantity" type="number" id="number1" step="1" min="1" max="" name="quantityV" value="1"
                               title="Qty" size="4">
                    </div>
                    <br><br>
                    <input type="submit" name="vradim_25" value="הוסף לעגלה"/>
                </form>

            </div>
        </div>
        <div class="product3">

            <img class="img" src="{{ url_for('products.static', filename='media/sahlav.jpg') }}" alt="sahlav">
            <button class="sahlav_btn" onclick="sahlav_options();">סחלב</button>
            <form action="/sahlav" method="GET" id="sahlav_product">
                <div class="sahlav_options" id="sahlav_options">
                    <h4 class="product_details">מחיר: 15 ש"ח ליחידה</h4>
                    <select class="select_box" name="type_sahlav" required>
                        <option value="סוג" select hidden>סוג</option>
                        <option value="חלבי" name="milk">חלבי</option>
                        <option value="טבעוני" name="vegan">טבעוני</option>
                    </select>
                    <h4 class="product_details"> כמות:</h4>
                      <div>
                        <input class="quantity" type="number" id="number1" step="1" min="1" max="" name="quantityS" value="1"
                               title="Qty" size="4">
                    </div>
                    <br><br>
                    <div class="cart3">
                        <input type="submit" name="sahlav_15" value="הוסף לעגלה"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="product1">
            <img class="img" src="{{ url_for('products.static', filename='media/malabi2.jpg') }}" alt="malabi">
            <button class="malabi_btn" onclick="malabi_options();">מלבי</button>
            <div class="malabi_options" ; id="malabi_options">
                <form action="/malabi" method="get" id="malabi_product">
                    <h4 class="product_details">מחיר: 10 ש"ח ליחידה</h4>
                    <select class="select_box" name="type_malabi" required>
                        <option select hidden>סוג</option>
                        <option value="חלבי">חלבי</option>
                        <option value="טבעוני">טבעוני</option>
                    </select> <br><br>
                    <select class="select_box" name="syrup" required>
                        <option value="סירופ" select hidden>סירופ</option>
                        <option value="מי ורדים">מי ורדים</option>
                        <option value="אספרסו"> אספרסו</option>
                        <option value="פירות יער">פירות יער</option>
                        <option value="נוטלה">נוטלה</option>
                        <option value="פסיפלורה">פסיפלורה</option>
                        <option value="פיסטוק">פיסטוק</option>
                    </select><br><br>
                    <select class="select_box" id="topping" name="toppings" value="adds" required><br>
                        <option name="adds1" value="תוספות" select hidden>תוספת</option>
                        <option name="adds1" value="קדאיף">שערות קדאיף</option>
                        <option name="adds2" value="בוטנים מלוחים">בוטנים מלוחים</option>
                        <option name="adds3" value="בוטנים מסוכרים">בוטנים מסוכרים</option>
                        <option name="adds4" value="קוקוס קלוי">קוקוס קלוי</option>
                    </select><br>
                    <h5 class="product_details"> כמות:</h5>
                     <div>
                        <input class="quantity" type="number" id="number1" step="1" min="1" max="" name="quantity" value="1"
                               title="Qty" size="4">
                    </div>
                    <br>
                    <button id="modalBtn" name="malabi_10" class="payment" type="submit" value="הוסף לעגלה"
                            onclick="finishOrder()">
                        הוסף לעגלה
                    </button>

                </form>
            </div>

        </div>

        <div class="footer">

        </div>
    </div>

{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('products.static', filename='js/products1.js') }}"></script>
{% endblock %}


