<link rel="stylesheet" href="{{ url_for('header.static', filename='css/header.css') }}"/>

        {% block page_body_header_content %}

            {# Main Menu #}
            {% block page_body_header_content__main_menu %}
<header>
        <nav>

            <a href="/"><img src="header/media/logo.png" alt="logo" class="logoBar"></a>
            <ul id="links">
                <li><a href="/" class="homepage">דף הבית</a></li>
                <li><a href="/products" class="productspage">מוצרים</a></li>
                <li><a href="/events" class="eventspage">אירועים</a></li>
                <li><a href="/aboutus" class="aboutuspage">קצת עלינו</a></li>
                <li><a href="/contactus" class="contactpage">צרו קשר</a></li>
                <li><a href="/login" class="loginpage" id="login">התחברות</a></li>
            </ul>
            {% if session.get('username') %}
                <h3 class="hello_user">  שלום   {{ session.get('username') }}! </h3>
                <a class="logout" href="/logout">התנתק</a>
                <a href="/account"><img src="header/media/account.png" alt="account" id="account_img"></a>
            {% else %}
                <h3 class="hello_user">שלום אורח! </h3>
            {% endif %}
            <div class="medialogos">
                <a href="/cart"><img src="header/media/cart.png" alt="cart" class="icon"></a>
                <a href="https://www.facebook.com/malabiyahu"><img src="header/media/facebook.png" alt="facebook" class="icon"></a>
                <a href="https://www.instagram.com/malabiyahu/"><img src="header/media/instagram.png" alt="instagram" class="icon"></a>
            </div>

        </nav>
</header>
            {% endblock %}

        {% endblock %}

