{% extends 'base_malabyu.html' %}

{% set page_head_title = 'login' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}"/>
{% endblock %}



{%  block page_body_header_add_item %}
    <!-- <div id="add">
        <span class="good_add">הפריט נוסף לסל בהצלחה!</span>
        <span class="to_cart">מעבר לקופה</span>
        <span class="close_add"> המשך בקניה X</span>
    </div> -->
{% endblock %}

{#{% block page_body_nav_extra %}#}
{#    <!-- <a href="/cakes">עוגות</a>#}
{#    <a href="/product_cake"> > {{cake[0].name}}</a> -->#}
{#{% endblock %}#}


{% block page_body_main_content %}

    <!--login box-->
    <span class="big-circle"></span>
    <div class="loginbox">
        <img src="{{ url_for('login.static', filename='css/media/avatar.png') }}"  class="avatar">
        <h1 class="loginH1">התחברות</h1>
         {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        <div class=error id="error_message"></div>

        <form onsubmit="return validate();" action="/login" method="POST">
            <p class="logintext">שם משתמש</p>
            <input type="email" id="email" name="email" placeholder="הכנס כתובת אלקטרונית" required>
            <p class="logintext">סיסמא</p>
            <input type="password" id="password" name="password" placeholder="הכנס סיסמא" required>
            <input type="submit" class="btn" value="התחבר">

            <a class="regis" href="/registration">הרשמה לאתר</a>
        </form>
    </div>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('login.static', filename='js/login.js') }}"></script>
{% endblock %}


