{% extends 'base_malabyu.html' %}

{% set page_head_title = 'cart' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('cart.static', filename='css/cart.css') }}"/>
{% endblock %}



{%  block page_body_header_add_item %}
    <!-- <div id="add">
        <span class="good_add">הפריט נוסף לסל בהצלחה!</span>
        <span class="to_cart">מעבר לקופה</span>
        <span class="close_add"> המשך בקניה X</span>
    </div> -->
{% endblock %}

{#{% block page_body_nav_extra %}#}
{#    <!-- <a href="/cakes">עוגות</a>#}
{#    <a href="/product_cake"> > {{cake[0].name}}</a> -->#}
{#{% endblock %}#}


{% block page_body_main_content %}
    <body onload="calculate_per_row()">
    <h1 class="header_items">סל הקניות שלי</h1>
    <div class="table-users">

        <table id="table_shopping">
            <tr id="title_table">
                <th id="first_row"><br>עלות ליחידה<br></th>
                <th id="first_row"><br>כמות<br></th>
                <th id="first_row"><br>סה"כ<br></th>
                <th id="first_row"><br>שם המוצר<br></th>
                <th id="first_row"><br> <br></th>
                <th id="first_row"><br>מחיקה<br></th>
            </tr>
            <tr id="row">
                <td id="total_per_row"></td>
                <td>
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus" onclick="decreaseValue1(1)"><input type="number" id="number1" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus" onclick="increaseValue1(1)">
                    </div>
                </td>
                <td>₪20</td>
                <td>מלביהו פיסטוק</td>
                <td><img class="malabi" src="malabi.jpg"></img>
                </td>
                <td> <img class="remove" src="remove.png" onclick="deleteRow(this)"> </td>
            </tr>
            <tr id="row">
                <td id="total_per_row"></td>
                <td>
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus" onclick="decreaseValue1(2)"><input type="number" id="number2" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus" onclick="increaseValue1(2)">
                    </div>
                </td>
                <td>₪20</td>
                <td>מלביהו פיסטוק</td>
                <td><img class="malabi" src="malabi.jpg"></img>
                </td>
                <td><img class="remove" src="remove.png"> </td>
            </tr>
            <tr id="row">
                <td id="total_per_row"></td>
                <td>
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus" onclick="decreaseValue1(3)"><input type="number" id="number3" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus" onclick="increaseValue1(3)">
                    </div>
                </td>
                <td>₪20</td>
                <td>מלביהו פיסטוק</td>
                <td><img class="malabi" src="malabi.jpg"></img>
                </td>
                <td><img class="remove" src="remove.png"> </td>
            </tr>

        </table>
    </div>
    <div class="things">הנחיות מיוחדות
        <textarea class="special_things">
    </textarea></div>
    <br>
    <br>
    <button id="modalBtn" class="payment" type="submit" value="תשלום" onclick="finishOrder()"><img id="cart" src="cart.png" width="30px" height="30px"></img>
      מעבר לביצוע תשלום </button>
    <div id="simpleModal" class="modal">
        <div class="modal-content">
            <div class="upper"></div>
            <span class="closeBtn" onclick=" closeModal()">&times;</span><br>
            <p class="upper_modal">אתה עומד לעבור לאתר מאובטח <br> תודה על קנייתך, מליבהו :)</p> <br>
            <a href="../checkout/checkout.html"><button id="insideModal"> אישור </button></a>
        </div>
    </div>
    </body>

    <br>
    <br>
    <br>
    <br>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('cart.static', filename='js/cart.js') }}"></script>
{% endblock %}


