{% extends 'base_malabyu.html' %}

{% set page_head_title = 'aboutus' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('aboutus.static', filename='css/aboutus.css') }}"/>
{% endblock %}



{% block page_body_main_content %}
    <div class="about">
        <img src="{{ url_for('aboutus.static', filename='media/logo.png') }}" src="logo" class="logo" ;>
        <p class="about_us"><br>קצת עלינו</p>
        <p class="us">
            <br> מלביהו התחיל כחלום. חלום לשלב את הקינוח האהוב בהוויה הצפונית, <br>אחרי שכבש מחדש את המדינה, <br>לקחנו
            על עצמינו לייצג את הצפון.<br> אנחנו עושים את זה עם מלבי ביתי בטעם של ילדות.<br> המלבי שלנו עשוי מהחומרים
            הטובים ביותר<br> כדי להעניק
            לכם חוויה קלאסית של טריות ואיכות.<br>
            <br> חוץ מהמלבי הטעים בטירוף שלנו, השף קונדיטור שלנו יצר תפריט עם מבחר גדול של טעמים ייחודיים ומרגשים- <br>נוטלה,
            קדאיף, אספרסו- קרמל ועוד ועוד ועוד. כל זה רק הופך את החוויה למושלמת<br> (כן, גם אנחנו לא חשבנו שאפשר
            יותר....)<br>
        </p>
        <p class="place">
            <br> חנות המלבי הראשונה בצפון,<br> קיבוץ דפנה, צמוד לקניונית
        </p>
        <p class="hours">
            שעות פעילות:<br> ימים ד'-ה' 15:00-23:00<br> יום ו' 10:00-18:00<br> יום ש' 10:00-18:00
        </p>
        <p class="place2">
            <br><br> וכדי לעשות לכם את היום מתוק יותר, <br> תוכלו למצוא אותנו גם בימי שישי במתחם מיקדו סנטר ת"א, <br>בימי
            שבת בחוף גורדון ת"א!<br> מוזמנים להשתמש בשירותי משלוחים בהזמנה אישית,<br>בהזמנה לאירועים וחגיגות מכל הסוגים.
        </p>
        <img src="{{ url_for('aboutus.static', filename='media/mal.jpg') }}" src="mal" class="mal">
        <img src="{{ url_for('aboutus.static', filename='media/mal5.jfif') }}" src="mal2" class="mal2">
        <img src="{{ url_for('aboutus.static', filename='media/mal4.jpg') }}" src="mal4" class="mal4">
    </div>
    <br><br>

{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('aboutus.static', filename='js/aboutus.js') }}"></script>
{% endblock %}


