<!Doctype html>
<html>

<head>
    <title> events</title>
    <link rel="stylesheet" href="{{ url_for('events.static', filename='css/events.css') }}">

</head>

<body dir="rtl">
{% include ('header.html') %}


{% with messages = get_flashed_messages() %}

    {% if messages %}
        <div class="changes">
            <h5>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </h5>
        </div>
    {% endif %}
{% endwith %}
<div class="grid-container">

    <!-- header-right-left-footer-->
    <div class="item1">
        <!--nav-->
    </div>
    <!--right side-->
    <div class="item2">
        <h3 class="h3">אירועי חברה</h3>
        <p class="text">להפוך את יום הגיבוש או האירוע לחוויה ולפנק <br> את הצוות שלך במלבי טרי עם תוספות<br> מטורפות
            ומגוונות</p>
        <img class="eventspic" src="{{ url_for('events.static', filename='media/event2.png') }}" alt="pic"></img>
        <img class="phoneEv" src="{{ url_for('events.static', filename='media/phone.png') }}" alt="pic"></img>
        <p class="phoneP">לפרטים נוספים חייגו : 04-8422554</p>
    </div>
    <!--left side-->

    <div class="item3">
        <h3 class="h3">דוכנים לחגיגות</h3>
        <p class="text">לשדרג את האירוע שלך עם דוכן מלבי מפנק, בלי מאמץ<br>ימי הולדת | חתונות | מסיבות <br>כל אירוע משמח
            צריך להיות גם מתוק</p>
        <img class="eventspic" src="{{ url_for('events.static', filename='media/event1.png') }}" alt="pic"></img>
        <img class="phoneEv" src="{{ url_for('events.static', filename='media/phone.png') }}" alt="pic"></img>
        <p class="phoneP">לפרטים נוספים חייגו : 04-8422554</p>


    </div>
    <div class="item4"></div>
</div>
{% include ('footer.html') %}


</body>

</html>